@import 'tailwindcss';

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1a1b1e;
	color: #c1c2c5;
}

* {
	border: 0 solid #e5e7eb;
}
