@import 'tailwindcss';

:root {
	--badge-color: #fab005;
	--badge-bd: calc(0.0625rem * 1) solid transparent;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1a1b1e;
	color: #c1c2c5;
}

* {
	border: 0 solid #e5e7eb;
}
